<div id="about" class="box">
  <p>Hello. My name is Roger López.  I live, work and play in New York City.  I make really cool websites with the brilliant people at <a href="http://treehouseagency.com/" class="treehouse">Treehouse Agency</a>.</p>

  <h3>Elsewhere</h3>
  <ul class="links">
    <li>
      <a href="http://twitter.com/zroger">Twitter</a>
      <div class="description">Thoughts about technology and random geekery</div>
    </li>
    <li>
      <a href="http://github.com/zroger" title="Fork me!">GitHub</a>
      <div class="description">Open source rocks!</div>
    </li>
    <li>
      <a href="http://drupal.org/user/67977">Drupal.org</a>
      <div class="description">Drupal projects and collaboration</div>
    </li>
    <li>
      <a href="http://zroger.smugmug.com/">SmugMug</a>
      <div class="description">I'm a hobbyist photogaher. Check out my photos.</div>
    </li>
  </ul>
</div>
